.mat-card {
    border-radius: 25px;
        
    @media screen and (max-width: 480px) {

        &__image {
            object-fit: fill;
            height: 350px;
        }
    }
    
    @media screen and (min-width: 481px) {
        &__image {
            object-fit: fill;
            height: 500px;
        }
    }

    &__header {
        justify-content: center;
        align-items: center;
    }

    &__content {
        margin-left: 5px;

    }

    &__edit-button {
        display: flex;
        gap: 15px;
        justify-content: right;
    }
}

