<div fxLayout="column">
    <h3>{{CONST.MESSAGE_TITLE}}
        <h1>
            <br><strong>{{hero.heroName}}</strong>
        </h1>
    </h3>
    <h3>{{CONST.MESSAGE_QUESTION}}</h3>    
    <div class="action-buttons" fxLayout="row">
        <button mat-fab (click)="delete()" color="warn">
            {{CONST.MESSAGE_RESPONSE_YES}}
        </button>
        <span class="spacer"></span>
        <button mat-fab (click)="close()" color="secondary">
            {{CONST.MESSAGE_RESPONSE_NO}}
        </button>
    </div>
</div>
